.Notifications {
  padding: 2vw 2vh;
  border: #e1003c dashed 2px;
}

p {
  margin-top: 0;
}

ul {
  margin-bottom: 0;
}

li[data-priority='default'] {
  color: blue;
}

li[data-priority='urgent'] {
  color: red;
}
